{
  "root": true,
  "env": {
    "browser": true,
    "commonjs": true,
    "mocha": true
  },
  "settings": {
    "import/resolve": {
      "extensions": [
        ".js",
        ".jsx"
      ]
    }
  },
  "extends": "jameslnewell/react"
}
